<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to theogwangfoundation.com, <%= @user.first_name %> <%= @user.last_name %></h1>
    <p>
      You have successfully signed up to theogwangfoundation.com,
      Thank you for taking interest in writing for us. We will review your
      application and get back to you via email as soon as possible
      Thank you and have a lovely day.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
