<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Thank you <%= @user.first_name %> <%= @user.last_name %>, for registering to be a Concerned Scholarly Writer(CSW).</p>
    <p>
      The Ogwang Foundation has successfully received your application for processing.
    </p>
    <p>You will be contacted</p>
    <p>Thank you</p>
    <br>
    <p>The Public Affairs Section</p>
    <p>The Ogwang Foundation, Nairobi</p>
  </body>
</html>
