<div class="intro-photo">
  
</div>
<!--/ Ben Section Start /-->
  <section id="about" class="about-mf sect-pt4 route">
    <div class="container">
      <div class="title-box-2">
        <h5 class="title-left">
          TEAM
        </h5>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="box-shadow-full">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-sm-6 col-md-5">
                    <div class="about-img">
                      <img src="img/testimonial-2.jpg" class="img-fluid rounded b-shadow-a" alt="">
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-7">
                    <div class="about-info">
                      <p><span class="title-s">Name: </span> <span>OWINO BEN OGWANG</span></p>
                      <p><span class="title-s">Profile: </span> <span>FOUNDER</span></p>
                      <p><span class="title-s">Email: </span> <span>ogwang@theogwangfoundation.org</span></p>
                      <p><span class="title-s">Phone: </span> <span>0718729647</span></p>
                    </div>
                  </div>
                </div>
                <div class="skill-mf">
                  <p class="title-s">MY COTRIBUTION ALLOCATION</p>
                  <span>African Cultural Heritage Conservation </span> <span class="pull-right">25%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                  <span>Wildlife and Nature Conservation</span> <span class="pull-right">25%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                  <span>Leadership and Governance</span> <span class="pull-right">50%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>

                </div>
              </div>
              <div class="col-md-6">
                <div class="about-me pt-4 pt-md-0">

                  <p class="lead">
                    Born and raised around Nam Lolwe in Africa, Owino Ben Ogwang is a highly trained and experienced Lawyer,Web Developer and Theatre arts,film Technology and media studies professional with a broad-based
  hands-on skills in successful implementation of highly effective
  projects and cost-effective,innovative management of technical support
  strategies .
                  </p>
                  <p class="lead">
                    Proven ability to successfully analyze an organization's critical support
                    requirements, identify deficiencies and potential opportunities, and develop innovative
                    solutions for increasing reliability and improving productivity.
                  </p>
                  <p class="lead">
                    Demonstrated history of
                   resolving complex problems while providing high-
                   quality member service and facilitating effective team collaboration. Highlighted leadership
                   qualities and the ability to work with individuals from varying backgrounds, while
                   promoting team values.
                  </p>
                  <p class="lead">
                    Outstanding communication skills to interact both with individuals and organizations and a
                    driven partner eager for progress and increased responsibility within a
                    performance-based environment.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--/ Ben Section end /-->
  <!--/ Lewis section start /-->


  <section id="about" class="about-mf sect-pt4 route">

    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="box-shadow-full">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-sm-6 col-md-5">
                    <div class="about-img">
                      <img src="img/testimonial-3.png" class="img-fluid rounded b-shadow-a" alt="">
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-7">
                    <div class="about-info">
                      <p><span class="title-s">Name: </span> <span>Lewis Nyoike</span></p>
                      <p><span class="title-s">Profile: </span> <span>Head Information Communication Technology</span></p>
                      <p><span class="title-s">Email: </span> <span>A01@theogwangfoundation.org</span></p>
                      <p><span class="title-s">Phone: </span> <span>0726160664</span></p>
                    </div>
                  </div>
                </div>
                <div class="skill-mf">
                  <p class="title-s">MY COTRIBUTION ALLOCATION</p>
                  <span>Wildlife and Nature Conservation</span> <span class="pull-right">40%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                  <span>Science Technology and Africa</span> <span class="pull-right">40%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                  <span>Leadership and Governance</span> <span class="pull-right">20%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>

                </div>
              </div>
              <div class="col-md-6">
                <div class="about-me pt-4 pt-md-0">

                  <p class="lead">
                    Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Curabitur arcu erat, accumsan id
                    imperdiet et, porttitor
                    at sem. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Nulla
                    porttitor accumsan tincidunt.
                  </p>
                  <p class="lead">
                    Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vivamus suscipit tortor eget felis
                    porttitor volutpat. Vestibulum
                    ac diam sit amet quam vehicula elementum sed sit amet dui. porttitor at sem.
                  </p>
                  <p class="lead">
                    Nulla porttitor accumsan tincidunt. Quisque velit nisi, pretium ut lacinia in, elementum id enim.
                    Nulla porttitor accumsan
                    tincidunt. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!--/ Lewis swction end /-->

  <div class="section-counter pzi">
    <div class="overlay-mf"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-3 col-lg-3">
          <div class="counter-box">
            <div class="counter-ico">
              <span class="ico-circle"><i class="ion-checkmark-round"></i></span>
            </div>
            <div class="counter-num">
              <p class="counter">15</p>
              <span class="counter-text">COMMUNITIES REPRESENTED</span>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-lg-3">
          <div class="counter-box pt-4 pt-md-0">
            <div class="counter-ico">
              <span class="ico-circle"><i class="ion-ios-calendar-outline"></i></span>
            </div>
            <div class="counter-num">
              <p class="counter">26</p>
              <span class="counter-text">YEARS OF EXPERIENCE</span>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-lg-3">
          <div class="counter-box pt-4 pt-md-0">
            <div class="counter-ico">
              <span class="ico-circle"><i class="ion-ios-people"></i></span>
            </div>
            <div class="counter-num">
              <p class="counter">15</p>
              <span class="counter-text">TOTAL MEMBERS</span>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-lg-3">
          <div class="counter-box pt-4 pt-md-0">
            <div class="counter-ico">
              <span class="ico-circle"><i class="ion-ribbon-a"></i></span>
            </div>
            <div class="counter-num">
              <p class="counter">3</p>
              <span class="counter-text">AWARDS WON</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--/ Section Portfolio Star /-->
  <!--/ Section Testimonials Star /-->
