<div class="background-news"><br>
  <div class="news-sectiona container"><br><br>
    <h1 id="news-header"><%= @news.title %></h1>
    <div class="content">
      <%= @news.description.html_safe%>
    </div>
  </div><br>
</div>
