<div class="projects-section">
  <div class="grids">
    <br><br>
    <div class="centered-text col-md-12">
      <h2 id="msee">
        <span>PROJECTS</span>
      </h2>
    </div>

    <div class="container actual-projects">
      <% @projects.each do |project| %>
      <h3 class="project-title"><%= project.title %></h3>
      <p class="project-description"><%= project.description.first(500).html_safe %></p>

      <div class="project-image">
        <%= image_tag project.cover_photo.url(:background), class:"img-fluid"%>
      </div>
      <hr>
      <% end %>
      <h3 class="project-title">The Titanic Scenario</h3>
      <p class="project-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      <div class="vitu-zako"></div>
      <hr>
    </div>
  </div>
</div>
