<div class="background-projects"><br>
  <div class="projects-sectiona container"><br><br>
    <h1 id="project-header"><%= @project.title %></h1>
    <div class="content">
      <%= @project.description.html_safe%>
    </div>
  </div><br>
</div>
