/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require toastr
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

.big-logo{
  background-color: white;
  text-align: center;
  margin: 0 auto;
  margin: -40px;
  #big-l{
    height: 225px;
    width: 312px;
  }
}

.navba-content{
  float: right;
}
nav {
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 0;
    float: none;
    list-style: none;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    margin-left: 0px;  // looks like bootstrap is putting a left margin on your #nav you may want it off.

}
nav li {
   display: inline-block;
   text-align:center;
}
.carousel{
  text-align: center;
  padding: 130px;
  background-color: #dedfe0;
}
