/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require toastr
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

.big-logo{
  background-color: white;
  text-align: center;
  margin: 0 auto;
  margin: -40px;
  #big-l{
    height: 225px;
    width: 312px;
  }
}

nav {
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 0;
    float: none;
    list-style: none;
    background-color: #ffffff;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    margin-left: 0px;  // looks like bootstrap is putting a left margin on your #nav you may want it off.
.nav-link{
  color: black !important;
}
.nav-link:hover{
  color: green !important;
}
.vf{
  padding-left: 10px;
  padding-right: 10px;
}
}
nav li {
   display: inline-block;
   text-align:center;
}

.carousel-item{
  height: 550px;
}

.projects{
  .main-heading{
    padding-top: 25px;
    text-align: center;
  }
}

.cardo {
  border: 1px solid transparent;
  padding: 2px;
  background: white;
  margin-bottom: 5px;
  .image-main {
    padding-left: 0;
    padding-right: 0;
    height: 308px;
  }

  .content {
    padding-top: 4px;
    height: auto;

    #project-title {
      font-family: 'Lora', serif;
      margin-bottom: 2px;
    }
    #project-category{
      color: grey;
      font-size: 12px;
      font-family: 'Rokkitt', serif;
    }
  }
}

#link{
  color: inherit;
  text-decoration: none;
}
