// Place all the styles related to the news controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Place all the styles related to the news controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.news-section {
  width: 50%;
  margin: 0 auto;
  .actual-news {
    .news-title {
      text-align: center;
      padding-top: 30px;
    }

    .news-image {
      background-color: lightgrey;
      width: 100%;
      border: 2px solid transparent;
      margin-bottom: 40px;
    }
  }
}
