// Place all the styles related to the news controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Place all the styles related to the news controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.news-section {
  width: 50%;
  margin: 0 auto;
  .actual-news {
    .news-title {
      text-align: center;
      padding-top: 30px;
    }

    .news-image {
      background-color: lightgrey;
      width: 100%;
      border: 2px solid transparent;
      margin-bottom: 40px;
    }
  }
}

@media screen and (max-width: 1167px) {
  .news-section{
    width: 60%;
  }
}
@media screen and (max-width: 929px) {
  .news-section{
    width: 70%;
  }
}
@media screen and (max-width: 628px) {
  .news-section{
    width: 80%;
  }
}
@media screen and (max-width: 550px) {
  .news-section{
    width: 90%;
  }
}
@media screen and (max-width: 400px) {
  .news-section{
    width: 95%;
  }
}
