// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.projects-section {
  width: 50%;
  margin: 0 auto;
  .actual-projects {
    .project-title {
      text-align: center;
      padding-top: 30px;
    }

    .project-image {
      background-color: lightgrey;
      width: 100%;
      border: 2px solid transparent;
      margin-bottom: 40px;
    }
  }
}
.background-projects{
  background-color: grey;
  .projects-sectiona{
    background-color: white;
    width: 75%;
    margin: 0 auto;
  }
}

// MEDIA QUERIES
@media screen and (max-width: 1167px) {
  .projects-section{
    width: 60%;
  }
}
@media screen and (max-width: 929px) {
  .projects-section{
    width: 70%;
  }
}
@media screen and (max-width: 628px) {
  .projects-section{
    width: 80%;
  }
  .background-projects{
    .projects-sectiona{
      width: 90%;
    }
  }
}
@media screen and (max-width: 550px) {
  .projects-section{
    width: 90%;
  }
  .background-projects{
    .projects-sectiona{
      width: 95%;
    }
  }
}
@media screen and (max-width: 400px) {
  .projects-section{
    width: 95%;
  }
  .background-projects{
    .projects-sectiona{
      width: 100%;
    }
  }
}
