// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.projects-section {
  width: 50%;
  margin: 0 auto;
  .actual-projects {
    .project-title {
      text-align: center;
      padding-top: 30px;
    }

    .project-image {
      background-color: lightgrey;
      width: 100%;
      border: 2px solid transparent;
      margin-bottom: 40px;
    }
  }
}
